<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music</title>
  <link rel='stylesheet' href='../static/css/styles-music.css'>
</head>
<body>
  <div class='home-btn-div'>
    <a class='home-btn' href='home'>Home</a>
  </div>


  <div class='greeting' id = 'greeting'>
      Hello!
  </div>
  <div class='current-time' id = 'current-time'>

  </div>
  <div class='motiv-quote' id='motiv-quote'>
    <a href=# class='start-stuff' onclick="startWeb()" >Click here to start!</a>
  </div>
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-auth.js"></script>
  <script src='../static/js/scripts-music.js'></script>
  <script src='../static/js/music-firebase.js'></script>
</body>
</html>