<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel='stylesheet' href='../static/css/resources-styles.css'>
</head>
<body>
    <div class='head'>
        <a href='home'>Home</a>
    </div>
    <div class="card card-1">
        <div class="content">
          <div class="front">
            Maths
          </div>
          <div class="back">
            <a href='https://www.teachoo.com/subjects/cbse-maths/class-12th/'>Jump</a>
          </div>
        </div>
      </div><br>
      <div class="card card-2">
        <div class="content">
          <div class="front">
            Physics
          </div>
          <div class="back">
            <a href='https://www.learncbse.in/ncert-solutions-class-12-physics/'>Jump</a>
          </div>
        </div>
      </div>
      <div class="card card-3">
        <div class="content">
          <div class="front">
            Chemistry
          </div>
          <div class="back">
            <a href='https://www.learncbse.in/ncert-solutions-class-12-chemistry/'>Jump</a>
          </div>
        </div>
      </div>
      <div class="card card-4">
        <div class="content">
          <div class="front">
            Computers
          </div>
          <div class="back">
            <a href='https://www.cbsetuts.com/important-questions-class-12-computer-science-python'>Jump</a>
          </div>
        </div>
      </div>
      <div class="card card-5">
        <div class="content">
          <div class="front">
            English
          </div>
          <div class="back">
            <a href='https://www.learncbse.in/ncert-solutions-for-class-12-english/'>Jump</a>
          </div>
        </div>
      </div>
</body>
</html>